##############################
## Java
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## gradle
##############################
build/
.gradle


.idea/

.DS_Store